@media screen and (min-width: 768) {
}
.cardWrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 23vw;
  min-width: 300px;
}
.cardWrapper > img {
  /* flex: 0 0 auto !important; */
  /* flex-shrink: 0; */
  width: 100%;
  height: 300px;
}

.cardWrapper .cardsTextContent {
  height: 100px;
  overflow: scroll;
}
