.Featured {
  font-size: 40px;
  text-align: center;
}
.title {
  font-size: 3vw;
  text-align: center;
  font-family: "Maghfirea", sans-serif;
}
.detailes {
  text-align: left;
  font-size: 25px;
}
.textWrapper {
  background-color: rgb(235, 168, 26);
  padding: 20px;
  color: white;
}
.textWrapper div {
  width: 70%;
  margin: auto;
}
.threeImgWrapper {
  display: flex;
}
.threeImgWrapper img {
  height: 80vh;
  width: 33.39%;
}
