footer {
    display: flex;
    justify-content: space-between;

    padding: 30px;
}
.homeClass {
    background-color: #3c6f57;
    color: white;
}
.notHomeClass {
    padding-top: 18vw;
    font-size: 40px;
    width: fit-content;
    margin: auto;
}
footer ul {
    list-style: none;
}
.special {
    padding: 20px 0;
}
.first-footer-child {
    /* background: red; */
    max-width: 360px;

    padding-right: 20px;
    /* display: flex; */
}
.firstList {
    display: flex;
}
.PEMMFooter {
    margin-left: -82px;
    font-size: 32px;
    margin-top: -3px;
}
.footer_logo {
    height: 30px;
}
first-footer-child {
}