.nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  background-image: linear-gradient(#221f21, transparent);
  color: #e7e3dc;
  padding-bottom: 90px;
  z-index: 4;
  width: 95%;
}

.nav ul {
  display: flex;
  list-style: none;
  margin-top: 4vw;
}
.nav ul li {
  margin: 1vw;
}
.navLinks {
  text-decoration: none;
  color: white;
  /* font-family: "Noto Serif", serif; */
  /* font-family: "Nunito", sans-serif; */
  /* font-family: "Source Serif Pro", serif; */
  font-size: 25px;
}
.homeLogoIMG {
  max-width: 400px;
}
.navToHome {
}
.rightUL {
  position: relative;
  max-width: 100%;
}
